target/
!.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmd
.mvn/
!.mvn/wrapper/maven-wrapper.properties

# IDE & Editor files
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Local Data & Logs
data/
*.log
*.sqlite
